header nav ul.nav_menu li:nth-child(1) a {
  color: var(--color-orange);
}

.about {
  padding-bottom: 10.5rem;
}

.about .container {
  display: flex;
}

.about .about-content {
  max-width: 77rem;
  padding: 12rem 5.5rem;
  background: var(--gradient);
  display: flex;
  flex-direction: column;
  gap: 6.2rem;
  padding: 12rem 5.5rem 6rem 5.5rem;
}

.about .about-content h2 {
  font-size: 3.6rem;
  color: var(--color-white);
}

.about .about-content p {
  max-width: 57rem;
  color: var(--color-white);
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
  padding-right: 7rem;
}

.about .about_video {
  max-width: 57rem;
  max-height: 48rem;
  height: 48rem;
  margin-top: 13.4rem;
  margin-left: -10rem;
}

.testimonials {
  margin-bottom: 31rem;
}

@media screen and (max-width: 992px) {
  .about {
    padding-bottom: 6.7rem;
  }
  .about .about-content {
    padding: 5rem 4.6rem 7.2rem 6.2rem;
    gap: 4rem;
    max-width: 100%;
  }
  .about .about-content h2 {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 400;
  }
  .about .about-content p {
    max-width: 55rem;
    font-size: 1.6rem;
  }
  .about .about_video {
    display: none;
  }
  .about .about-content p {
    padding-right: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 455px) {
  .about {
    padding-bottom: 7rem;
  }
  .about .about-content {
    padding: 3.5rem 2.2rem;
    gap: 3rem;
    max-width: 100%;
  }
  .about .about-content h2 {
    text-align: center;
  }
  .about .about-content p {
    max-width: 55rem;
    font-size: 1.6rem;
  }
}
