/* general properties */

:root {
  --color-lightgrey: #f4f6f6;
  --color-darkblue: #0f2b3d;
  --color-orange: #ff6000;
  --color-white: #fff;
  --color-middle-grey: #f2eeee;
  --color-black: #201e1e;
  --color-brown: #2e2a2a;
  --color-lightestgrey: #f9f6f6;
  --color-mobile-nav: rgba(245, 240, 240, 0.98);
  --color-white-light-opacity: rgba(255, 255, 255, 0.5);
  --color-grey: #b6b6b7;
  --gradient: linear-gradient(123deg, #212223 18.29%, #ff6000 403.34%);
  --video-background: rgba(126, 86, 50, 0.42);
  --color-darker: #212223;
  --color-transparent: transparent
}

.container {
  width: 95%;
  height: 100%; /* remove */
  max-width: 124rem;
  margin-inline: auto;
}

/*header css started*/

header {
  height: 10.3rem;
  padding-top: 3rem;
  margin-bottom: 10.3rem;
}

header nav {
  position: fixed;
  width: 100%;
  z-index: 9;
}

header .container {
  display: flex;
  justify-content: center;
}

header nav:nth-child(1) {
  max-width: 91.4rem;
  height: 7.3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: clamp(3rem, 1.488vw + 2.157rem, 4.3rem);
  justify-content: space-between;
  background-color: var(--color-lightestgrey);
  padding: 2.4rem 3.2rem;
  border-radius: 3.3rem;
  box-shadow: 0px 37px 10px 0px rgba(0, 0, 0, 0),
    0px 24px 10px 0px rgba(0, 0, 0, 0.01), 0px 13px 8px 0px rgba(0, 0, 0, 0.03),
    0px 6px 6px 0px rgba(0, 0, 0, 0.04), 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
}

header nav a {
  display: block;
}

header nav .logo a img {
  display: block;
}

header nav a.logo img {
  width: 12.4rem;
  height: 2.5rem;
}

header nav ul.nav_menu {
  display: flex;
  gap: 4.3rem;
}

header nav ul.nav_menu a {
  font-size: clamp(1.6rem, 0.595vw + 1.143rem, 2rem);
  transition: all 0.3s linear;
}

header nav ul.nav_menu a:hover {
  color: var(--color-orange);
}

header nav.mobile_nav {
  transition: 0.3s ease;
  opacity: 0;
  visibility: 0;
  display: none;
}

header nav.active_mobile_nav {
  opacity: 1;
  visibility: 1;
  display: block;
}

header nav .open_mobile_nav {
  /* opacity: 0;
  visibility: 0; */
  display: none;
  transition: 0.3s ease;
}

/*header css ended*/

/*footer css started*/
footer {
  background: var(--gradient);
  padding-top: 4.3rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .footer_content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

footer .footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}

footer .footer_subscribe h2 {
  font-size: 3.2rem;
  color: var(--color-white);
  font-weight: 400;
}

footer .footer_subscribe p {
  color: var(--color-white);
  opacity: 0.57;
  font-size: 1.5rem;
}

footer .footer_subscribe .input_box {
  display: flex;
  gap: 2.4rem;
}

footer .footer_subscribe .input_box input {
  padding: 1.3rem 0 1.3rem 1.3rem;
  border: 1px solid var(--color-white-light-opacity);
  border-radius: 0.8rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
  font-size: 1.4rem;
  color: var(--color-white);
  transition: 0.3s ease;
}

footer .footer_subscribe .input_box input:focus {
  border: 1px solid var(--color-white);
  transition: 0.3s ease;
}

footer .footer_subscribe .input_box button {
  color: var(--color-white);
  background-color: var(--color-orange);
   border: 1px solid var(--color-orange);
  padding: 1.3rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  transition: 0.5s ease;
}

footer .footer_subscribe .input_box button:hover {
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
  background-color: var(--color-transparent);
}

footer .footer_nav {
  display: flex;
  gap: 3rem;
}

footer .footer_nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .footer_nav ul li a {
  opacity: 0.67;
  font-size: 1.6rem;
  color: var(--color-white);
  font-weight: 400;
}

footer .footer_nav ul li .nav_heading {
  opacity: 1;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-white);
}

footer .footer_nav ul .footer_social_links {
  display: flex;
  flex-direction: row;
  gap: 2.6rem;
  justify-content: center;
}

footer .footer_nav ul .footer_social_links button {
  width: 1.9rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid var(--color-grey);
  color: var(--color-grey);
}

footer .footer_map iframe {
  border-radius: 1.5rem;
  max-width: 47rem;
  height: 31rem;
}

footer .footer_copyright {
  border-top: 1px solid var(--color-white);
  padding: 2.6rem 0;
  margin-top: 5.7rem;
}

footer .footer_copyright p {
  color: var(--color-white);
}

/*footer css ended*/

/*testimonials css started*/
.testimonials {
  padding: 5rem 0;
  background-color: var(--color-darker);
}

.testimonials .container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.testimonials .container > div {
  flex: 1;
}

.testimonials .testimonials_heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials .testimonials_heading h2 {
  color: var(--color-white);
  max-width: 35rem;
  font-size: 3.5rem;
  font-weight: 400;
}

.testimonials .slider_nav {
  display: flex;
  gap: 0.8rem;
}

.testimonials .slider_nav .next_testimonial,
.testimonials .slider_nav .prev_testimonial {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-darker);
  font-size: 2.2rem;
}

.testimonials .testimonial_card {
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  padding: 4rem 0;
  max-width: 41rem;
}

.testimonials .testimonial_card .card_heading {
  display: flex;
  gap: 1.7rem;
  align-items: center;
}

.testimonials .testimonial_card .card_heading img {
  width: 2.5rem;
  height: 2.5rem;
}

.testimonials .testimonial_card .card_heading p {
  color: var(--color-white);
  font-size: 2.4rem;
  font-weight: 400;
}

.testimonials .testimonial_card .card_content {
  padding-top: 4.8rem;
  padding-bottom: 3.1rem;
}

.testimonials .testimonial_card .card_content p {
  color: var(--color-white);
  max-width: 38rem;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.testimonials .testimonial_card .card_footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonials .testimonial_card .card_footer img {
  width: 4.3rem;
  height: 4.3rem;
}

.testimonials .testimonial_card .card_footer .card_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonials .testimonial_card .card_footer .card_info p:nth-child(1) {
  color: var(--color-white);
  font-size: 13px;
  font-weight: normal;
}

.testimonials .testimonial_card .card_footer .card_info p:nth-child(2) {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
}

.testimonials .testimonial-footer {
  display: none !important;
}

/*media queries*/

@media screen and (max-width: 992px) {
  header {
    margin-bottom: 9.8rem;
  }
  header nav {
    gap: 3.3rem;
    max-width: 100%;
  }

  header nav .logo a img {
    width: 10.2rem;
    height: 2rem;
  }

  header nav ul.nav_menu {
    gap: 3.2rem;
  }

  footer .container {
    flex-direction: column;
    gap: 7rem;
  }

  footer .footer_subscribe {
    align-items: center;
  }

  footer .footer_nav {
    justify-content: center;
    gap: 6.1rem;
  } 

  footer .footer_map iframe {
    max-height: 23.8rem;
    width: 100%;
    max-width: 100%;
  }

  footer .footer_copyright .container {
    flex-direction: row;
  }

  .testimonials .container {
    display: flex;
    flex-direction: column;
  }

  .testimonials .testimonials_heading {
    padding: 4.3rem 0 7rem 0;
  }

  .testimonials .testimonials_heading .slider_nav {
    display: none;
  }

  .testimonials .testimonials_heading h2 {
    font-size: 2.4rem;
    font-weight: normal;
  }

  .testimonials .testimonials-footer .slider_nav {
    display: flex;
    justify-content: center;
    padding-top: 4.2rem;
  }
}

@media screen and (max-width: 765px) {
  header nav:nth-child(1) {
    padding: 1.75rem 3.2rem;
  }
  header nav ul.nav_menu {
    display: none;
  }
  header nav .open_mobile_nav {
    display: inline-block;
  }
  header nav.mobile_nav {
    margin-top: 8.5rem;
  }

  header nav.mobile_nav ul.nav_menu {
    display: flex;
    flex-direction: column;
    gap: 4.9rem;
    padding: 3.8rem 1.5rem;
    width: 100%;
    border-radius: 2.2rem;
    background-color: var(--color-mobile-nav);
    box-shadow: 0px 90px 25px 0px rgba(65, 62, 62, 0),
      0px 57px 23px 0px rgba(65, 62, 62, 0.01),
      0px 32px 19px 0px rgba(65, 62, 62, 0.05),
      0px 14px 14px 0px rgba(65, 62, 62, 0.09),
      0px 4px 8px 0px rgba(65, 62, 62, 0.1);
  }

  header nav.mobile_nav ul.nav_menu a {
    color: var(--color-orange);
    font-weight: 500;
  }

  header nav.mobile_nav ul.nav_menu ul.social_icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  header nav.mobile_nav ul.nav_menu ul.social_icons button {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    background-color: var(--color-orange);
  }

  header nav.mobile_nav ul.nav_menu ul.social_icons button i {
    color: var(--color-white);
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  footer .footer_nav {
    display: none;
  }

  .testimonials .testimonial_card {
    border-top: none;
    padding: 0;
    max-width: 100%;
    width: 100%;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 375px) {
  header {
    margin-bottom: 5.6rem;
  }
  header nav:nth-child(1) {
    padding: 1.35rem 0.9rem;
  }
  footer .footer_copyright .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
  }
}

/* contact section */

.contact {
  padding: 8.9rem 0 9.4rem;
}

.contact_block {
  display: flex;
  gap: 5.7rem;
}

.contact_info {
  position: relative;
  max-width: 56.2rem;
  height: 67.9rem;
  border-radius: 2.8rem;
  overflow: hidden;
}

.contact_info_img {
  height: 100%;
}

.contact_info_img img {
  object-position: 25% 50%;
}

.contact_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(11, 9, 9, 0.64);
  height: 100%;
  width: 100%;
  padding: 8.7rem 4.6rem 6.5rem;
  color: var(--color-white);
}

.contact_overlay h2 {
  line-height: 1;
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 2.7rem;
}

.contact_notification {
  font-size: 1.5rem;
  opacity: 0.54;
  margin-bottom: 8.7rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 4.1rem;
  margin-bottom: 12.9rem;
}

.contacts li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.contacts li:last-child span {
  max-width: 21.6rem;
  text-align: justify;
}

.contacts_email_img,
.contacts_phone_img,
.contacts_location_img {
  width: 4rem;
  height: 4rem;
}

.facebook_img {
  width: 1.1rem;
  height: 2.5rem;
}

.instagram_img,
.whatsapp_img {
  width: 2.7rem;
  height: 2.7rem;
}

.social_media {
  display: flex;
  gap: 5rem;
}

.contact_form h2 {
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 2.3rem;
}

.contact_form .contact_notification {
  margin-bottom: 7.3rem;
}

.form_main {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 4.8rem;
}

.form_block {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.input_block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input_block:focus-within .input_item {
  border: 1px solid var(--color-orange);
}

.input_block:focus-within span {
  color: black;
}

.input_item {
  padding-left: 1.3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 4.9rem;
  border-radius: 0.8rem;
  border: 1px solid #bdaea5;
  transition: all 0.3s linear;
}

.input_item input {
  flex: 1;
  height: 100%;
}

.user_img {
  width: 1.6rem;
  height: 1.5rem;
}

.letter_img {
  width: 2.1rem;
  height: 2.4rem;
}

.stairs_img {
  width: 3.2rem;
  height: 3.1rem;
}

.device_img {
  width: 1.2rem;
  height: 2rem;
}

.file_img {
  width: 1.6rem;
  height: 2.1rem;
}

.input_block span {
  width: max-content;
  position: relative;
  color: #bdaea5;
  font-size: 1.4rem;
  transition: all 0.3s linear;
}

.input_block span::after {
  position: absolute;
  top: 10%;
  left: 110%;
  content: "*";
  color: red;
  opacity: 0;
  transition: all 0.3s linear;
}

.input_block:focus-within span::after {
  opacity: 1;
}

.custom_file_upload {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

label {
  color: #bdaea5;
  font-size: 1.4rem;
  font-weight: 400;
}

.form_note {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#note {
  border-radius: 0.4rem;
  border: 1px solid #bab8b8;
  padding: 2rem 1.7rem;
  width: 30.4rem;
  height: 40.2rem;
  font-size: 1.6rem;
}

form button {
  display: inline-block;
  padding: 1.5rem 5.4rem;
  line-height: 1;
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 3.7rem;
  background: var(--color-orange);
}

/* media query for contact section */

@media screen and (max-width: 1256px) {
  .contact_block {
    flex-direction: column;
    align-items: center;
    gap: 9.2rem;
  }
  .contact_info {
    text-align: center;
  }
  .contact_info .social_media {
    justify-content: center;
  }
  .contact_info .contacts {
    align-items: center;
  }
  .contacts li {
    flex-direction: column;
  }
  .contact_form {
    text-align: center;
  }
  .contact_info .contact_notification {
    margin-bottom: 3.6rem;
  }
  .contact_form .contact_notification {
    margin-bottom: 3.7rem;
  }
  .contact_overlay {
    padding-top: 3.9rem;
  }
  .contact_form {
    width: 100%;
  }
  .form_main {
    flex-direction: column;
  }
  .form_block {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .form_block .input_block {
    flex-basis: 30.9rem;
  }
  .form_note {
    width: 100%;
  }
  #note {
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .contact_overlay {
    padding-top: 2.7rem;
  }
  .contact_overlay h2 {
    font-size: clamp(2.4rem, 3.053vw + 1.255rem, 3.6rem);
  }
  .contact_info .contact_notification {
    margin-bottom: 2.6rem;
  }
  .social_media {
    display: none;
  }
  .contact_info {
    height: clamp(49.9rem, 45.802vw + 32.724rem, 67.9rem);
  }
}

/* contact section end */

/* scroll to top button */

#scroll_top {
  position: fixed;
  overflow: hidden;
  width: 5.3rem;
  height: 5.3rem;
  z-index: 10;
  bottom: 1.3rem;
  right: 1.3rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--color-orange);
  border-radius: 50%;
  padding: 0.8rem 0.8rem 0 0.9rem;
  transition: all 0.3s linear;
  display: none;
}

#scroll_top img {
  width: 3.6rem;
  height: 3.6rem;
  animation: fadeDown 0.3s linear;
}

#scroll_top:hover img {
  animation: fadeUp 0.3s linear;
}

@keyframes fadeUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes fadeDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* scroll to top button end*/
