/* services section */

.services_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.services_item {
  background-color: var(--color-lightgrey);
  border-radius: 2.5rem;
  flex-grow: 39.1rem;
  flex-basis: 35.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.3rem;
  padding-top: 5.2rem;
  padding-bottom: 4.6rem;
  color: var(--color-darkblue);
  transition: all 0.3s linear;
}

.services_item:hover {
  box-shadow: 0px 64px 18px 0px rgba(0, 0, 0, 0),
    0px 41px 16px 0px rgba(0, 0, 0, 0.01), 0px 23px 14px 0px rgba(0, 0, 0, 0.05),
    0px 10px 10px 0px rgba(0, 0, 0, 0.09), 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

.services_img {
  max-width: 4.5rem;
}

.services_item h2 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2.4rem, 1.19vw + 1.486rem, 3.2rem);
  font-weight: 500;
  letter-spacing: 1.25px;
}

.services_item ul {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  align-items: center;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 1rem;
}

.services_btn a {
  display: inline-block;
  padding: 2rem 4.5rem;
  color: var(--color-orange);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1rem;
  border-radius: 1.3rem;
  border: 1px solid var(--color-orange);
  transition: all 0.3s linear;
}

.services_btn a:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

/* media query for services section */

@media screen and (max-width: 992px) {
  .services_block {
    gap: 2rem;
  }
  .services_item {
    gap: 2.8rem;
    padding-top: 3.6rem;
    padding-bottom: 3.1rem;
  }
  .services_img {
    max-width: 3.6rem;
  }
}

@media screen and (max-width: 766px) {
  .services_block {
    flex-wrap: inherit;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .services_item {
    flex-shrink: 0;
  }
}

/* services section end */
